apiVersion: v1
clusters:
- cluster:
    server: ${server}
    certificate-authority-data: ${certificate-authority-data}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: "kubernetes-admin"
  name: kubernetes-admin-${cluster}
current-context: kubernetes-admin-${cluster}
kind: Config
preferences: {}
users:
- name: "kubernetes-admin"
  user:
    client-certificate-data: ${client-certificate-data}
    client-key-data: ${client-key-data}
